.proj{
    background-color: rgb(241, 241, 241);
    padding: 1.3em 2em 1.3em 2em;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
    width: 75%;
    color: black;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.proj:hover{
    background-color: rgb(10, 35, 61);
    color: white;
    transform: translateY(-10px);
}
