body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: white;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    text-align: center;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.main{
    background-color:rgb(10, 35, 61);
    color: white;
    justify-content: center;
    border-radius: 20px;
    border: 5px double white;

}

.body{
    background-color: white;
    width: 75%;
    padding-left: 12.5%;
}

nav{
    position: absolute;
    right: 0;
    padding: 5vh 5vh 0 0;
    display: flex;
}

nav a{
    text-decoration: none;
}

nav a button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 0.5em 1.5em 0.5em 1.5em;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

nav a button:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
    font-weight: bolder;
    transform: translateY(10px);
}

nav a::after{
    text-decoration: none;
    color: white;
}

.socialButton{
    height: 1.5em;
    filter: brightness(0) invert(1);
    padding: 0.15em 0.15em 0.15em 0.15em;
}

#profile{
    height: 9em;
    border-radius: 100%;
}

.mainButton, .proj{
    background-color: rgb(241, 241, 241);
    padding: 1.3em 2em 1.3em 2em;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
    width: 75%;
    color: black;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.mainButton:hover, .proj:hover{
    background-color: rgb(10, 35, 61);
    color: white;
}

.mainButton:hover{
    transform: translateY(-10px);
}

.proj:hover{
    transform: translateY(10px);
}

.scrollDown{
    border: 2px solid white;
    border-radius: 100%;
    width: 6em;
    height: 6em;
    background-color: transparent;
    align-items: center;
}

#down{
    color: white;
    margin: 0;
    font-size: 1.5em;
    animation: animate 1s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: translateY(-50px);
        text-shadow: 0 50px 0 white;
    }
    20%
    {
        transform: translateY(0px);
    }
    40%
    {
        transform: translateY(0px);
    }
    60%
    {
        transform: translateY(0px);
    }
    80%
    {
        transform: translateY(0px);
    }
    100%
    {
        transform: translateY(100px);
    }
}

.examples{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

svg{
    width: 47%;
    height: 0.70rem;
    display: inline;
    border: 2px solid rgb(10, 35, 61);
}

.experience{
    height: 0.70rem;
    fill:rgb(10, 35, 61);
}

ul{
    list-style: none;
}

#pdfViewer{
    width: 80%;
    height: 80%;
    margin-left: 10%;
}

.downloads{
    font-size: small;
    color: black;
    text-decoration: none;
}

.downloads::after{
    text-decoration: none;
    color: black;
}