body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: white;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    text-align: center;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.main{
    background-color:rgb(10, 35, 61);
    color: white;
    justify-content: center;
    border-radius: 5%;
    border: 5px double white;

}

.body{
    background-color: white;
    width: 75%;
    padding-left: 12.5%;
}

nav{
    position: absolute;
    right: 0;
    padding: 5vh 5vh 0 0;
    display: flex;
}

nav a{
    text-decoration: none;
}

nav a button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 0.5em 1.5em 0.5em 1.5em;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

nav a button:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
    font-weight: bolder;
    transform: translateY(10px);
}

nav a::after{
    text-decoration: none;
    color: white;
}

img{
    height: 1.5em;
    filter: brightness(0) invert(1);
    padding: 0.15em 0.15em 0.15em 0.15em;
}

#profile{
    height: 9em;
    border-radius: 100%;
}

.mainButton{
    background-color: rgb(241, 241, 241);
    padding: 1.3em 2em 1.3em 2em;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
    width: 75%;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.mainButton:hover{
    background-color: rgb(10, 35, 61);
    color: white;
    transform: translateY(-10px);
}

.scrollDown{
    border: 2px solid white;
    border-radius: 100%;
    width: 6em;
    height: 6em;
    background-color: transparent;
}

.scrollDown .fa{
    color: white;
    margin: 0;
    padding: 0;
    animation: animate 1s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: translateY(-30px);
    }
}